# Virtual Environment
backend/venv/
.venv/

# Node Modules
node_modules/

# PyCache
__pycache__/
*.py[cod]
*$py.class

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Environment Variables
.env

# Python package metadata
*.egg-info/
*.egg
dist/
build/